<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DDCC Verifier Web App</title>
</head>
<body>
    <h2>DDCC Verifier Web App</h2>
    <p class="lead">QR Processing Results</p>

    <div th:if="${qr}" class="uploader" style="max-width: 1000px">
        <label>Result<br>
            <pre th:text="${status}"></pre>
        </label>
        <label>QR Contents<br>
            <pre th:text="${qr}"></pre>
        </label>
        <label>Unpacked QR<br>
            <pre th:text="${unpacked}"></pre>
        </label>
        <label>DDCC Result<br>
            <pre th:text="${contents}"></pre>
        </label>
        <label>Issuer<br>
            <pre th:text="${issuer}"></pre>
        </label>
    </div>

    <div th:if="${error}" class="uploader">
        <label th:text="${error}"></label>
    </div>

    <div class="backhome">
        <a id="back-home" class="btn btn-primary" href="/">Back to Home</a>
    </div>

</body>
</html>